name: testing

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  linux:
    # We want to run on external PRs, but not on our own internal
    # PRs as they'll be run by the push to the branch.
    #
    # The main trick is described here:
    # https://github.com/Dart-Code/Dart-Code/pull/2375
    if: github.event_name == 'push' ||
      github.event.pull_request.head.repo.full_name != github.repository

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        tarantool:
          - '1.10'
          - '2.8'
          - '2.9'
          - '2.x-latest'
        coveralls: [false]
        include:
          - tarantool: '2.x-latest'
            coveralls: true

    steps:
      - name: Clone the connector
        uses: actions/checkout@v2

      - name: Setup Tarantool ${{ matrix.tarantool }}
        if: matrix.tarantool != '2.x-latest'
        uses: tarantool/setup-tarantool@v1
        with:
          tarantool-version: ${{ matrix.tarantool }}

      - name: Setup Tarantool 2.x (latest)
        if: matrix.tarantool == '2.x-latest'
        run: |
          curl -L https://tarantool.io/pre-release/2/installer.sh | sudo bash
          sudo apt install -y tarantool tarantool-dev

      - name: Setup golang for the connector and tests
        uses: actions/setup-go@v2
        with:
          go-version: 1.13

      - name: Install test dependencies
        run: make deps

      - name: Run tests
        run: make test

      - name: Run tests, collect code coverage data and send to Coveralls
        if: ${{ matrix.coveralls }}
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          make coveralls

      - name: Run becnchmark
        run: make bench
